{
  "openapi": "3.0.3",
  "info": {
    "title": "Inblog API",
    "version": "1.0.0",
    "description": "Manage blog content using the Inblog API.\n\n## 🚀 Getting Started\n\n### 1. Get API Key\nGet your API key from the dashboard:\n1. Login to [Inblog Dashboard](https://inblog.com/dashboard)\n2. Navigate to Settings → API Keys\n3. Click \"Create New API Key\" button\n4. Select required permission scopes\n5. Store your API key securely\n\n### 2. First Request\n```bash\ncurl -X GET https://api.inblog.ai/api/v1/me \\\n  -H \"Authorization: Bearer YOUR_API_KEY\"\n```\n\n### 3. Content-Type\n- **Request**: `Content-Type: application/json` or `application/vnd.api+json`\n- **Response**: `Content-Type: application/vnd.api+json`\n\n## 📋 Key Features\n\n- **Post Management**: Create, update, delete, and publish posts\n- **Tags and Authors**: Manage categories and author information\n- **Blog Settings**: Modify basic settings\n- **URL Redirects**: Configure 307 (temporary) and 308 (permanent) redirects\n- **JSON:API Standard**: Consistent response format\n\n## 🔐 Authentication\n\nAll API requests require Bearer token authentication via Authorization header:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n## 📚 Learn More\n\n- [JSON:API Specification](https://jsonapi.org/)",
    "contact": {
      "name": "Inblog Support",
      "email": "hello@inblog.ai"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://inblog.ai/api/v1",
      "description": "Production API"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "## Authentication API\nCheck information about your currently active API key."
    },
    {
      "name": "Blogs",
      "description": "## Blogs API\n\nManage basic blog information and settings.\n\n### Key Features\n- Update blog name and description\n- Configure timezone\n- Set default language\n- Manage logo and favicon URLs"
    },
    {
      "name": "Posts",
      "description": "## Posts API\n\nCreate, update, delete, and publish blog posts.\n\n### Key Features\n- Create, read, and update posts\n- Manage post status (draft, published, scheduled)"
    },
    {
      "name": "Post Tags",
      "description": "## Post-Tag Relationships API\n\nManage relationships between posts and tags.\n\n### Key Features\n- Add tags to posts\n- Remove tags from posts\n- List tags for a post"
    },
    {
      "name": "Post Authors",
      "description": "## Post-Author Relationships API\n\nManage relationships between posts and authors. A single post can have multiple authors.\n\n### Key Features\n- Add authors to posts\n- Remove authors from posts\n- List authors for a post"
    },
    {
      "name": "Tags",
      "description": "## Tags API\n\nCreate and manage blog tags.\n\n### Key Features\n- Create, update, and delete tags"
    },
    {
      "name": "Authors",
      "description": "\n## Authors API\n\nView profile information for blog authors.\n\n### Key Features\n\n- View author profiles\n"
    },
    {
      "name": "Redirects",
      "description": "## Redirects API\n\nConfigure and manage URL redirect rules.\n\n### Key Features\n- View redirect rules within your blog\n- Configure 307 (temporary) / 308 (permanent) redirects"
    },
    {
      "name": "Custom Domain",
      "description": "## Custom Domain API\nManage custom domain configuration for your blog.\n### Key Features\n- Add a custom domain\n- Check domain DNS and verification status\n- Remove a custom domain"
    },
    {
      "name": "Custom UI",
      "description": "## Custom UI API\nManage blog banner and UI customization.\n### Key Features\n- Get current banner and UI settings\n- Update banner image, title, colors, and navigation"
    },
    {
      "name": "Search Console",
      "description": "## Search Console API\nConnect and query Google Search Console data for your blog.\n### Key Features\n- OAuth-based Search Console connection\n- Keyword performance data (clicks, impressions, CTR, position)\n- Page-level search performance"
    },
    {
      "name": "Analytics",
      "description": "## Analytics API\nAccess blog traffic analytics and performance metrics.\n### Key Features\n- Blog-wide traffic trends (daily/hourly)\n- Per-post performance metrics (visits, clicks, organic, CVR)\n- Traffic source analysis (referrers)\n- Individual post traffic and sources"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get My API Key Information",
        "description": "Retrieve information and permissions for the currently active API key.\n\nView connected blog and list of granted permissions.\n",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "API key information retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List Posts",
        "description": "Retrieve a list of published posts from the blog.\nYou can specify page number and size, and include tag or author information.\n",
        "operationId": "listPosts",
        "security": [
          {
            "bearerAuth": [
              "posts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/IncludeParam"
          },
          {
            "$ref": "#/components/parameters/FilterSlugParam"
          },
          {
            "$ref": "#/components/parameters/FilterPublishedParam"
          },
          {
            "$ref": "#/components/parameters/FilterPublishedAtGteParam"
          },
          {
            "$ref": "#/components/parameters/FilterPublishedAtLteParam"
          },
          {
            "$ref": "#/components/parameters/FilterTagIdParam"
          },
          {
            "$ref": "#/components/parameters/FilterAuthorIdParam"
          },
          {
            "$ref": "#/components/parameters/FilterContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/SortParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Post list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create Post",
        "description": "Create a new blog post.\n\n**Required Fields:**\n- title: Post title\n- slug: URL slug (must be unique within the blog)\n\n**Image Processing:**\nExternal image URLs are uploaded to Inblog R2 storage by default.\nTo preserve original URLs, use the `preserve_external_images=true` query parameter.\n\n**Limitations:**\n- The id field is not allowed. Post ID is generated automatically by the server.\n- To update an existing post, use PATCH /posts/{id}.\n\n**Response Codes:**\n- 201: Post created successfully\n- 400: Bad request (e.g., id field included)\n- 409: Slug already exists\n\nExternal image URLs will be automatically saved to Inblog storage.\n",
        "operationId": "createPost",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "preserve_external_images",
            "in": "query",
            "required": false,
            "description": "Preserve external image URLs instead of uploading to R2 storage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get Post",
        "description": "Retrieve detailed information for a specific post by ID.",
        "operationId": "getPost",
        "security": [
          {
            "bearerAuth": [
              "posts:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer",
              "example": 123
            }
          },
          {
            "$ref": "#/components/parameters/IncludeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Post retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Posts"
        ],
        "summary": "Update Post",
        "description": "Update the content and settings of an existing post.\n\n**Image Processing:**\nExternal image URLs are uploaded to Inblog R2 storage by default.\nTo preserve original URLs, use the `preserve_external_images=true` query parameter.\n",
        "operationId": "updatePost",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "preserve_external_images",
            "in": "query",
            "required": false,
            "description": "Preserve external image URLs instead of uploading to R2 storage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUpdateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PostUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts/{id}/publish": {
      "patch": {
        "tags": [
          "Posts"
        ],
        "summary": "Publish Post",
        "description": "Publish a post immediately or schedule it for later.\n\n**Supported Actions**:\n- `publish` - Publish immediately\n- `unpublish` - Unpublish\n- `schedule` - Schedule publication (future time only)\n",
        "operationId": "publishPost",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishActionRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PublishActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Publish status changed successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts/{id}/tags": {
      "get": {
        "tags": [
          "Post Tags"
        ],
        "summary": "List Post Tags",
        "description": "Retrieve the list of tags associated with a post.",
        "operationId": "getPostTags",
        "security": [
          {
            "bearerAuth": [
              "posts:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Post Tags"
        ],
        "summary": "Add Tags to Post",
        "description": "Add one or more tags to a post.\nAlready connected tags are automatically skipped.\n",
        "operationId": "addPostTags",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ResourceIdentifier"
                          },
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ResourceIdentifier"
                          },
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Post Tags"
        ],
        "summary": "Replace Post Tags",
        "description": "Replace all tags on a post with a new set of tags.\nAll existing tags are removed and only the newly specified tags remain.\n",
        "operationId": "replacePostTags",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          },
                          {
                            "type": "null",
                            "description": "Remove all tags"
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          },
                          {
                            "type": "null",
                            "description": "Remove all tags"
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags replaced successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts/{id}/tags/{tagId}": {
      "delete": {
        "tags": [
          "Post Tags"
        ],
        "summary": "Remove Tag from Post",
        "description": "Remove a specific tag from a post.",
        "operationId": "removePostTag",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag removed successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts/{id}/authors": {
      "get": {
        "tags": [
          "Post Authors"
        ],
        "summary": "List Post Authors",
        "description": "Retrieve the list of authors associated with a post.",
        "operationId": "getPostAuthors",
        "security": [
          {
            "bearerAuth": [
              "posts:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Author list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Post Authors"
        ],
        "summary": "Add Authors to Post",
        "description": "Add one or more authors to a post.\nAlready connected authors are automatically skipped.\n",
        "operationId": "addPostAuthors",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ResourceIdentifier"
                          },
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ResourceIdentifier"
                          },
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authors added successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Post Authors"
        ],
        "summary": "Replace Post Authors",
        "description": "Replace all authors on a post with a new set of authors.\nAll existing authors are removed and only the newly specified authors remain.\n",
        "operationId": "replacePostAuthors",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          },
                          {
                            "type": "null",
                            "description": "Remove all authors"
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JsonApiVersion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "oneOf": [
                          {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ResourceIdentifier"
                            }
                          },
                          {
                            "type": "null",
                            "description": "Remove all authors"
                          }
                        ]
                      }
                    },
                    "required": [
                      "data"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authors replaced successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/posts/{id}/authors/{authorId}": {
      "delete": {
        "tags": [
          "Post Authors"
        ],
        "summary": "Remove Author from Post",
        "description": "Remove a specific author from a post.",
        "operationId": "removePostAuthor",
        "security": [
          {
            "bearerAuth": [
              "posts:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "authorId",
            "in": "path",
            "required": true,
            "description": "Author ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Author removed successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List Tags",
        "description": "Retrieve all tags registered in the blog.",
        "operationId": "listTags",
        "security": [
          {
            "bearerAuth": [
              "tags:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create Tag",
        "description": "Create a new tag.\n\n**Required Fields:**\n- name: Tag name\n- slug: URL slug (must be unique within the blog)\n\n**Response Codes:**\n- 201: Tag created successfully\n- 409: Slug already exists\n",
        "operationId": "createTag",
        "security": [
          {
            "bearerAuth": [
              "tags:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get Tag",
        "description": "Retrieve detailed information for a specific tag by ID.",
        "operationId": "getTag",
        "security": [
          {
            "bearerAuth": [
              "tags:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Tags"
        ],
        "summary": "Update Tag",
        "description": "Update a tag's name or other information.",
        "operationId": "updateTag",
        "security": [
          {
            "bearerAuth": [
              "tags:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagUpdateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TagUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/authors": {
      "get": {
        "tags": [
          "Authors"
        ],
        "summary": "List Authors",
        "description": "Retrieve all author profiles registered in the blog.",
        "operationId": "listAuthors",
        "security": [
          {
            "bearerAuth": [
              "authors:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Author list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/authors/{id}": {
      "get": {
        "tags": [
          "Authors"
        ],
        "summary": "Get Author",
        "description": "Retrieve profile information for a specific author.",
        "operationId": "getAuthor",
        "security": [
          {
            "bearerAuth": [
              "authors:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Author ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Author retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Authors"
        ],
        "summary": "Update Author",
        "description": "Update an author's profile information.\n\n**Editable Fields:**\n- author_name: Author display name\n- avatar_url: Profile image URL\n\n**Image Processing:**\nProfile image URLs are uploaded to Inblog R2 storage by default.\nTo preserve original URLs, use the `preserve_external_images=true` query parameter.\n",
        "operationId": "updateAuthor",
        "security": [
          {
            "bearerAuth": [
              "authors:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Author ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "preserve_external_images",
            "in": "query",
            "required": false,
            "description": "Preserve external image URLs instead of uploading to R2 storage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorUpdateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Author updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/me": {
      "get": {
        "tags": [
          "Blogs"
        ],
        "summary": "Get My Blog",
        "description": "Retrieve information about the blog connected to the current API key.",
        "operationId": "getMyBlog",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Blog retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Blogs"
        ],
        "summary": "Update My Blog Settings",
        "description": "Update basic settings like blog name, description, logo, favicon, and featured image.\n\n**Image Processing:**\nLogo, favicon, and featured image URLs are uploaded to Inblog R2 storage by default.\nTo preserve original URLs, use the `preserve_external_images=true` query parameter.\n",
        "operationId": "updateMyBlog",
        "security": [
          {
            "bearerAuth": [
              "blogs:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "preserve_external_images",
            "in": "query",
            "required": false,
            "description": "Preserve external image URLs instead of uploading to R2 storage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogUpdateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BlogUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blog updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/redirects": {
      "get": {
        "tags": [
          "Redirects"
        ],
        "summary": "List Redirects",
        "description": "Retrieve all URL redirect rules configured for the blog.",
        "operationId": "listRedirects",
        "security": [
          {
            "bearerAuth": [
              "redirects:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Redirects"
        ],
        "summary": "Create Redirect",
        "description": "Create a new redirect rule.\n**Required Fields:** - from_path: Source path to redirect from - to_path: Target path to redirect to\n**Response Codes:** - 201: Redirect created successfully - 409: from_path already exists\n",
        "operationId": "createRedirect",
        "security": [
          {
            "bearerAuth": [
              "redirects:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectCreateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redirect created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/redirects/{id}": {
      "get": {
        "tags": [
          "Redirects"
        ],
        "summary": "Get Redirect",
        "description": "Retrieve detailed information for a specific redirect rule.",
        "operationId": "getRedirect",
        "security": [
          {
            "bearerAuth": [
              "redirects:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Redirect ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Redirects"
        ],
        "summary": "Update Redirect",
        "description": "Update a redirect rule.",
        "operationId": "updateRedirect",
        "security": [
          {
            "bearerAuth": [
              "redirects:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Redirect ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectUpdateRequest"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redirect updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Redirects"
        ],
        "summary": "Delete Redirect",
        "description": "Permanently delete a redirect rule. ⚠️ This action cannot be undone!",
        "operationId": "deleteRedirect",
        "security": [
          {
            "bearerAuth": [
              "redirects:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Redirect ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Redirect deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/domain": {
      "post": {
        "tags": [
          "Custom Domain"
        ],
        "summary": "Add Custom Domain",
        "description": "Add a custom domain to your blog. Returns domain configuration including Vercel DNS settings required for verification.",
        "operationId": "addCustomDomain",
        "security": [
          {
            "bearerAuth": [
              "blogs:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainAddRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom domain added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAddResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Custom Domain"
        ],
        "summary": "Check Domain Status",
        "description": "Check the current custom domain configuration and DNS verification status.",
        "operationId": "getDomainStatus",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Domain status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Domain"
        ],
        "summary": "Remove Custom Domain",
        "description": "Remove the custom domain from your blog. The blog will revert to the default subdomain.",
        "operationId": "deleteCustomDomain",
        "security": [
          {
            "bearerAuth": [
              "blogs:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Custom domain removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/custom-ui": {
      "get": {
        "tags": [
          "Custom UI"
        ],
        "summary": "Get Banner & UI Settings",
        "description": "Retrieve the current banner and UI customization settings for your blog.",
        "operationId": "getCustomUi",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "UI settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomUiResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Custom UI"
        ],
        "summary": "Update Banner & UI Settings",
        "description": "Update banner and UI customization settings. Only provided fields will be updated.",
        "operationId": "updateCustomUi",
        "security": [
          {
            "bearerAuth": [
              "blogs:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomUiUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UI settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomUiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/search-console/oauth-url": {
      "get": {
        "tags": [
          "Search Console"
        ],
        "summary": "Get Search Console OAuth URL",
        "description": "Get the Google OAuth URL for connecting Search Console. Use the optional redirect_uri parameter for CLI-based authentication flows.",
        "operationId": "getSearchConsoleOAuthUrl",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "description": "Custom redirect URI for CLI callback",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthUrlResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/search-console/connect": {
      "post": {
        "tags": [
          "Search Console"
        ],
        "summary": "Connect Search Console",
        "description": "Exchange an OAuth authorization code for tokens to complete the Search Console connection.",
        "operationId": "connectSearchConsole",
        "security": [
          {
            "bearerAuth": [
              "blogs:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchConsoleConnectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search Console connected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "connected": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/search-console/status": {
      "get": {
        "tags": [
          "Search Console"
        ],
        "summary": "Check Search Console Status",
        "description": "Check whether Google Search Console is connected to your blog.",
        "operationId": "getSearchConsoleStatus",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Connection status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConsoleStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/search-console/disconnect": {
      "delete": {
        "tags": [
          "Search Console"
        ],
        "summary": "Disconnect Search Console",
        "description": "Disconnect Google Search Console from your blog. Removes stored OAuth tokens.",
        "operationId": "disconnectSearchConsole",
        "security": [
          {
            "bearerAuth": [
              "blogs:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Search Console disconnected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "connected": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/search-console/keywords": {
      "get": {
        "tags": [
          "Search Console"
        ],
        "summary": "Get Keyword Performance",
        "description": "Get keyword-level search performance data from Google Search Console. Returns clicks, impressions, CTR, and average position for each keyword.",
        "operationId": "getSearchConsoleKeywords",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": [
                "clicks",
                "impressions",
                "ctr",
                "position"
              ],
              "default": "clicks"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword performance data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPerformanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/search-console/pages": {
      "get": {
        "tags": [
          "Search Console"
        ],
        "summary": "Get Page Performance",
        "description": "Get page-level search performance data from Google Search Console. Returns clicks, impressions, CTR, and average position for each page.",
        "operationId": "getSearchConsolePages",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": [
                "clicks",
                "impressions",
                "ctr",
                "position"
              ],
              "default": "clicks"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page performance data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPerformanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/analytics/traffic": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Blog Traffic",
        "description": "Get blog-wide traffic data with daily or hourly granularity. Includes visits, clicks, organic traffic, and page type breakdowns.",
        "operationId": "getBlogTraffic",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Time interval for data aggregation",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "hour"
              ],
              "default": "day"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by page type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "home",
                "post",
                "category",
                "author"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traffic data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/analytics/posts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Post Performance Metrics",
        "description": "Get per-post performance metrics including visits, clicks, organic traffic, and conversion rate.",
        "operationId": "getPostMetrics",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": [
                "visits",
                "clicks",
                "organic",
                "cvr"
              ],
              "default": "visits"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to \"title\" to include post titles in the response",
            "schema": {
              "type": "string",
              "enum": [
                "title"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMetricsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/analytics/sources": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Traffic Sources",
        "description": "Get traffic source analysis showing referrer data sorted by visit count.",
        "operationId": "getTrafficSources",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traffic sources retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferrerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/analytics/posts/{id}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Post Traffic",
        "description": "Get traffic data over time for a specific post with daily or hourly granularity.",
        "operationId": "getPostTraffic",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Time interval for data aggregation",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "hour"
              ],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post traffic data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTrafficResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/blogs/analytics/posts/{id}/sources": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Post Traffic Sources",
        "description": "Get traffic source analysis for a specific post showing referrer data.",
        "operationId": "getPostTrafficSources",
        "security": [
          {
            "bearerAuth": [
              "blogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 28 days ago.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-28"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post traffic sources retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferrerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use API key as Bearer token.\n\nFormat: `Authorization: Bearer YOUR_API_KEY`\n\nAPI keys can be generated from the Inblog dashboard.\n"
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "description": "Page number (starting from 1)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1,
          "example": 1
        }
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Items per page",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 10,
          "example": 10
        }
      },
      "IncludeParam": {
        "name": "include",
        "in": "query",
        "description": "Specify related resources to include, separated by commas\n\nAvailable values for Posts:\n- `tags` - Post tags\n- `authors` - Post authors\n",
        "schema": {
          "type": "string",
          "example": "tags,authors"
        }
      },
      "FilterSlugParam": {
        "name": "filter[slug]",
        "in": "query",
        "description": "Filter by slug. Returns only posts with an exact match.",
        "schema": {
          "type": "string",
          "example": "my-post"
        }
      },
      "FilterPublishedParam": {
        "name": "filter[published]",
        "in": "query",
        "description": "Filter by published status.",
        "schema": {
          "type": "boolean",
          "example": true
        }
      },
      "FilterPublishedAtGteParam": {
        "name": "filter[published_at_gte]",
        "in": "query",
        "description": "Return only posts published on or after this date. (ISO 8601 format)",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2024-01-01"
        }
      },
      "FilterPublishedAtLteParam": {
        "name": "filter[published_at_lte]",
        "in": "query",
        "description": "Return only posts published on or before this date. (ISO 8601 format)",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2024-12-31"
        }
      },
      "FilterTagIdParam": {
        "name": "filter[tag_id]",
        "in": "query",
        "description": "Return only posts with the specified tag.",
        "schema": {
          "type": "integer",
          "example": 123
        }
      },
      "FilterAuthorIdParam": {
        "name": "filter[author_id]",
        "in": "query",
        "description": "Return only posts by the specified author.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        }
      },
      "FilterContentTypeParam": {
        "name": "filter[content_type]",
        "in": "query",
        "description": "Filter by content type.",
        "schema": {
          "type": "string",
          "enum": [
            "tiptap",
            "notion"
          ],
          "example": "tiptap"
        }
      },
      "SortParam": {
        "name": "sort",
        "in": "query",
        "description": "Sort field.",
        "schema": {
          "type": "string",
          "enum": [
            "published_at",
            "created_at",
            "updated_at",
            "title"
          ],
          "default": "created_at",
          "example": "published_at"
        }
      },
      "OrderParam": {
        "name": "order",
        "in": "query",
        "description": "Sort direction.",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc",
          "example": "desc"
        }
      }
    },
    "schemas": {
      "JsonApiVersion": {
        "type": "object",
        "properties": {
          "jsonapi": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "default": "1.0",
                "example": "1.0"
              }
            },
            "required": [
              "version"
            ]
          }
        },
        "required": [
          "jsonapi"
        ]
      },
      "ResourceIdentifier": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Resource type (required)\n- posts, tags, authors etc.\n",
            "example": "tags"
          },
          "id": {
            "type": "string",
            "description": "Resource ID (required)\n- String format\n- Must be unique within its type\n\n**Important:** The example value (123) is a sample. For actual use:\n- Get Tag IDs: `GET /v1/tags`\n- Get Author IDs: `GET /v1/authors`\n\nUsing non-existent IDs will result in a 400 error.\n",
            "example": "123"
          }
        },
        "required": [
          "type",
          "id"
        ]
      },
      "Relationship": {
        "type": "object",
        "properties": {
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ResourceIdentifier"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ResourceIdentifier"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri",
            "description": "URL of the current resource"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items"
          },
          "page": {
            "type": "integer",
            "description": "Current page"
          },
          "limit": {
            "type": "integer",
            "description": "Items per page"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP status code"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "title": {
            "type": "string",
            "description": "Error title"
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message"
          }
        },
        "required": [
          "status",
          "code",
          "title"
        ]
      },
      "ErrorResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiVersion"
          },
          {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "required": [
              "errors"
            ]
          }
        ]
      },
      "ApiKeyResource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "api_keys"
            ],
            "example": "api_keys"
          },
          "id": {
            "type": "string",
            "description": "Client ID"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "subdomain": {
                "type": "string",
                "description": "Subdomain of connected blog",
                "example": "myblog"
              },
              "blog_id": {
                "type": "integer",
                "description": "Blog ID",
                "example": 123
              },
              "scopes": {
                "type": "array",
                "description": "List of permissions granted to API key",
                "items": {
                  "type": "string",
                  "enum": [
                    "posts:read",
                    "posts:write",
                    "posts:delete",
                    "tags:read",
                    "tags:write",
                    "tags:delete",
                    "authors:read",
                    "authors:write",
                    "blogs:read",
                    "blogs:write",
                    "redirects:read",
                    "redirects:write"
                  ]
                },
                "example": [
                  "posts:read",
                  "posts:write",
                  "tags:read"
                ]
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "ApiKeyResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiVersion"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ApiKeyResource"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "PostResource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Resource type identifier\n- Fixed value according to JSON:API standard\n- Always \"posts\"\n",
            "enum": [
              "posts"
            ],
            "example": "posts"
          },
          "id": {
            "type": "string",
            "description": "Post ID",
            "example": "123"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Post title (recommended under 60 characters for SEO)",
                "maxLength": 200,
                "example": "Building a Blog with Next.js"
              },
              "slug": {
                "type": "string",
                "description": "URL-friendly unique identifier. Only letters, numbers, and hyphens allowed",
                "pattern": "^[a-z0-9-]+$",
                "example": "nextjs-blog-tutorial"
              },
              "description": {
                "type": "string",
                "description": "Post summary description (SEO meta description)",
                "maxLength": 160,
                "example": "Learn how to build a blog using Next.js and TypeScript."
              },
              "content_html": {
                "type": "string",
[...]
